.page-wrapper {
  font-family: Poppins, serif;
  font-style: normal;
  line-height: 21px;
  padding: 30px;
}

.title {
  font-size: 18px;
}

.sub-title {
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #B5B5C3;
}

.default-cursor {
  cursor: default;
}

th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

th {
  color: #B5B5C3;
  background: #F3F6F9 !important;
  line-height: 18px !important;
  border: none;
  font-weight: 700;
}

td {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #464E5F;
  border: none;
}

td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width is only set to show the ellipsis style for some of the elements */
  max-width: 200px;
}

.grey-content {
  color: #B5B5C3;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.buy-now-btn {
  background: #C9F7F5;
  border-radius: 6px;
  border: none;
  color: #1BC5BD;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  width: 92px;
  height: 34px;
}
